version: '3.8'

services:
  customer-service:
    build:
      context: ./CustomerService
      dockerfile: Dockerfile
    container_name: customer-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_APPLICATION_NAME=customer-service
      - SERVER_PORT=8081
    networks:
      - microservices-network
    restart: unless-stopped

  rental-service:
    build:
      context: ./RentalService
      dockerfile: Dockerfile
    container_name: rental-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_APPLICATION_NAME=rental-service
      - SERVER_PORT=8080
      - CUSTOMER_SERVICE_URL=http://customer-service:8081
    networks:
      - microservices-network
    depends_on:
      - customer-service
    restart: unless-stopped

  database:
    # Official Postgres image
    image: 'postgres:latest'
    ports:
      - 5432:5432
    env_file: # permet de définir l'endroit ou sont définies les variables d'initialisation de la database
        - .env
    volumes:
      # we SHOULD define an entrypoint script here to initialize the database when we create the volume
      - ${PWD}/db-data/:/var/lib/postgresql

networks:
  microservices-network:
    driver: bridge
